*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../images/preloader.gif");
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	overflow-x: hidden;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 62px;
	font-weight: 600;
}

h2 {
	line-height: 72px;
	font-size: 42px;
	font-weight: 600;
}

h3 {
	line-height: 1.6;
}

h4 {
	font-size: 20px;
	line-height: 1.6;
}

.hidden {
	display: none;
}

/* global elements */
	
	/* btn */

	.btn,
	.btn:focus,
	.btn:active,
	.btn:hover {
		display: inline-block;
		padding: 0 60px;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: .5px;
		border-radius: 3px;
		border: 2px solid #dd2811;
		background: #dd2811;
		box-sizing: border-box;
	}

	.btn-clear,
	.btn-clear:focus,
	.btn-clear:active,
	.btn-clear:hover {
		border-color: #fff;
		background: transparent;
	}

	/* end btn */

/* end global elements */

/* top-line */

.top-line {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 50px;
	background: #000;
	z-index: 999;
	box-sizing: border-box;
}

.top-line .logo {
	position: relative;
	height: 40px;
}

.top-line .logo img {
	height: 100%;
}

.top-line .phone-number {
	padding: 5px 20px;
	font-size: 20px;
	color: #fff;
}

.top-line .btn {
	padding: 0 20px;
	height: 100%;
	font-size: 14px;
	line-height: 35px;
}

/* end top-line */

/* header */

header {
	position: relative;
	padding-top: 100px;
	padding-bottom: 90px;
	color: #fff;
	background: url(../images/header.jpg) fixed center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

header h3 {
	font-weight: 300;
}

header .btn,
header .btn:focus,
header .btn:active,
header .btn:hover {
	margin: 10px 20px;
	padding-left: 0;
	padding-right: 0;
	width: 220px;
	text-align: center;
}

/* end header */

/* gains */

#gains {
	padding: 60px 0;
}

#gains h2 {
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 1.4;
	font-size: 48px;
}

#gains .txt-container {
	padding-top: 15px;
	padding-left: 30px;
}

#gains .txt-container h2 {
	margin-bottom: 10px;
}

#gains .txt-container p {
	font-size: 24px;
}

#gains .img-container {
	padding: 30px 0;
}

/* end gains */

/* pull */

.poll-list > li {
	font-size: 24px;
	margin: 10px 0;
} 

.poll-sublist > li {
	font-size: 20px;
	font-weight: 300;
}

ol.poll-sublist > li {
	list-style: lower-latin;
}

ul.poll-sublist {
	padding-left: 45px;
}

ul.poll-sublist > li {
	list-style: square;
}

#costMonth {
	padding: 0 10px;
	width: 120px;
}

/* end pull */

/* what */

.what-list li {
	margin-top: 30px;
	margin-bottom: 20px;
	list-style: none;
}

.what-list li h3:before {}
.what-list li:nth-child(1) h3:before { content: "1. "}
.what-list li:nth-child(2) h3:before { content: "2. "}
.what-list li:nth-child(3) h3:before { content: "3. "}

.what-item {
	margin: 30px 0;
}

.what-item .img-container {
	margin: 0 auto;
	max-width: 120px;
	height: 120px;
	line-height: 120px;
}

.what-item h3 {
	font-weight: 700;
}

.what-item p {
	font-size: 18px;
}

/* end what */

/* products */

.products-list > li {
	padding: 15px;
	min-height: 125px;
	list-style: none;
}

.products-list .img-container {
	float: left;
	position: relative;
	width: 45px;
}

.products-list .txt-container {
	float: left;
	padding-left: 20px;
	width: calc(100% - 45px);
	box-sizing: border-box;
}

.products-list .txt-container h3 {
	margin: 5px 0 10px;
	line-height: 32px;
	font-weight: 600;
}

.products-list .txt-container p {
	font-size: 18px;
	font-weight: 300;
}

.products-list .txt-container p i {
	font-weight: 400;
}

.products_fresh {
	margin-top: 30px; 
	margin-bottom: 30px;
}

.products_fresh h4 {
	font-size: 24px; 
	font-weight: 500;
	font-style: italic;
}

/* end products */

/* cost */

#cost {
	background: url(../images/cost.jpg) fixed center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

#cost p,
#cost h2 {
	color: #fff;
}

.cost-list {
	padding: 0;
	overflow: hidden;
}

.cost-list li {
	margin-top: 20px;
	margin-bottom: 30px;
	list-style: none;
}

.cost-item {
	padding: 30px 10px 15px;
	color: #fff;
	// border: 1px solid #fff;
}

.cost-item .cost_num {
	display: block;
	margin: 0 0 30px;
	height: 68px;
	font-size: 42px;
	box-sizing: border-box;
}

.cost-item .img-container {
	margin: 0 auto 30px;
	width: 80px;
}

.cost-item h3 {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.cost-item p {
	text-align: center;
	min-height: 68px;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

#cost .btn-container {
	padding: 0 0 20px;
}

#cost .btn-container .btn {
	padding-left: 45px;
	padding-right: 45px;
}

/* end cost */

/* responds */

.responds-list {
	margin-top: 15px;
}

.responds-list li {
	padding-top: 90px;
	padding-bottom: 30px;
	list-style: none;
}

.respond-item {
	position: relative;
	padding: 70px 30px 20px;
	border-radius: 5px;
	background: #fff;
}

.respond-item .img-container {
	position: absolute;
	top: -60px;
	left: calc(50% - 60px);
	width: 120px;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
}

/* end responds */

/* try */

#try p {
	font-size: 24px;
	font-weight: 300;
}

#TryForm {
	margin: 30px 0;
}

#TryForm input {
	margin: 5px;
	padding: 10px 20px;
	height: 50px;
	vertical-align: middle;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	background: #fff;
}

#TryForm button:focus,
#TryForm button:active,
#TryForm button:hover,
#TryForm button {
	margin: 5px;
	height: 50px;
	vertical-align: middle;
	box-sizing: border-box;
	border: none;
}

/* end try */

/* faq */

.faq-list {
	padding-top: 30px;
	padding-bottom: 30px;
}

.faq-list {
	counter-reset: li;
}

.faq-list li {
	font-size: 24px;
	list-style: none;
	border-bottom: 1px solid #d9d9d9;
}

.faq-list li:before {
	display: inline-block;
	padding-top: 20px;
	vertical-align: top;
	content: counter(li) ".";
  counter-increment: li;
}

.faq-list li:first-child {
	border-top: 1px solid #d9d9d9;
}

.faq-list li > a,
.faq-list li > a:focus,
.faq-list li > a:active,
.faq-list li > a:hover {
	display: inline-block;
	width: calc(100% - 30px);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	font-size: 24px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	box-sizing: border-box;
}

.faq-list .close-icon {
	float: right;
	margin: 7px 0 0;
	width: 24px;
	transform: rotate(-45deg);
	transition: transform ease-in-out .3s;
	-webkit-transition: transform ease-in-out .3s;
}

.faq-list .open.close-icon {
	transform: rotate(0);
	transition: transform ease-in-out .3s;
	-webkit-transition: transform ease-in-out .3s;
}

.faq-list li .txt-container {
	padding: 0 30px 20px;
}

/* end faq */

/* footer */ 

footer {
	padding: 60px 0;
	background: url(../images/footer.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.contacts-list {
	position: absolute;
	bottom: 0;
	left: 0;
}

.contacts-list li {
	min-height: 36px;
	list-style: none;
	font-size: 24px;
	color: #fff;
}

.contacts-list li a {
	color: #fff;
}

.contacts-list li a:focus,
.contacts-list li a:active,
.contacts-list li a:hover {
	text-decoration: underline;
	color: #fff;
}

.footer-form {
	float: right;
	padding: 30px;
	min-width: 300px;
	max-width: 360px;
	border-radius: 5px;
	background: #fff;
}

.footer-form h3 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}

.footer-form p {
	color: #666;
}

.footer-form input {
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
	border: none;
	border-radius: 3px;
	background: #f0f0f0;
}

.footer-form textarea {
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	min-height: 100px;
	resize: vertical;
	border: none;
	border-radius: 3px;
	background: #f0f0f0;
}

.footer-form button:focus,
.footer-form button:active,
.footer-form button:hover,
.footer-form button {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	background: #000;
	border: none;
}

/* end footer */ 

/* modal */

.form-modal {
	padding: 45px;
	padding-top: 30px;
	/* min-width: 300px; */
	/* max-width: 360px; */
	border-radius: 5px;
	background: #fff;
}

.form-modal h3 {
	text-align: left;
	margin: 0;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: 600;
}

.form-modal p {
	color: #666;
	margin-bottom: 15px;
}

.form-modal input {
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	border: none;
	background: #f0f0f0;
}

.form-modal textarea {
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	min-height: 100px;
	resize: vertical;
	border: none;
	background: #f0f0f0;
}

.form-modal .btn,
.form-modal .btn:focus,
.form-modal .btn:active,
.form-modal .btn:hover {
	width: 100%;
	background: #000;
	border: none;
}

/* end modal */

/* tnx modal */

#ModalThx .modal-dialog {
	padding: 15px 30px 45px;
	border-radius: 5px;
	background: #fff;
}

#ModalThx .modal-dialog p {
	font-size: 20px;
}

/* end tnx modal */

/* modificator */

.bg-gray {
	background: #f5f5f5;
}

.bg-black {
	color: #fff;
	background: #000;
}

.bg-wite {
	color: #000;
	background: #fff;
}

.text-gray {
	color: #666;
}