/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	header {
		background-attachment: scroll;
	}

	#cost {
		background-attachment: scroll;
	}

	.what-item {
		padding: 0 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


	/* cost */

	.cost-list .btn {
		width: 100%;
	}

	.cost-item p {
		line-height: 24px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px !important;
		line-height: 42px;
	}

	header {
		padding: 90px 0 30px;
	}

	#gains {
		padding: 30px 15px;
	}

	#gains .txt-container p {
		font-size: 18px;
	}

	/* products */

	.products-list li {
		overflow: hidden;
	}

	.products_fresh h4 {
		font-size: 20px;
	}
	
	/* responds */

	.responds-list li {
		padding-top: 60px;
	}

	/* faq */

	.faq-list li span {
		display: inline-block;
		width: calc(100% - 64px);
		font-size: 20px;
	}

	.faq-list li .txt-container p {
		font-size: 16px;
	}

	/* try */

	#TryForm {
		margin: 0 auto;
		padding: 0 15px;
		max-width: 360px;
	}

	#TryForm .btn,
	#TryForm input {
		width: 100%;
	}

	/* footer */

	footer {
		padding-bottom: 0;
	}

	.contacts-list {
		position: relative;
	}

	.contacts-list li {
		text-align: center;
		font-size: 20px;
	}

	#FooterForm {
		float: none;
		margin: 20px auto;
		width: calc(100% + 60px);
		max-width: 360px;
		border-radius: 0;
	}

	.footer-form {
	}

	.form-modal {
		padding: 30px;
		border-radius: 5px;
		background: #fff;
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	#FooterForm {
		margin: 20px -30px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}